.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  
  .success {
    background-color: #6741D9;
  }
  
  .error {
    background-color: #dc3545;
  }
  